{% extends "layout.html.twig" %} 
{% block titulo %} 
        LOGS DE EJECUCIÓN **CONSULTA**
{% endblock %} 

{% block contenido %}
    <div class="container-fluid">
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}