<div class="btn-group btn-group-justified" role="group" aria-label="...">  

    {% if app.session.get('usuario_perfil') == 'ROLE_ADMIN' %}
        {% include 'menu.admin.html.twig' %}
        {% include 'menu.costes.html.twig' %}
        {% include 'menu.maestros.html.twig' %}
        {% include 'menu.catalogos.html.twig' %}
    {% endif %}

    {% if app.session.get('usuario_perfil') == 'ROLE_COSTES' %}
        {% include 'menu.costes.html.twig' %}
        {% include 'menu.maestros.html.twig' %}
        {% include 'menu.catalogos.html.twig' %}
    {% endif %}

    {% if app.session.get('usuario_perfil') == 'ROLE_MAESTROS' %}
        {% include 'menu.maestros.html.twig' %}
        {% include 'menu.catalogos.html.twig' %}
    {% endif %}

    {% if app.session.get('usuario_perfil') == 'ROLE_USER' %}
        {% include 'pendiente_perfil.html.twig' %}
    {% else %}
        {% include 'cerrar.html.twig' %}
    {% endif %}

</div>
