<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle btn-primary" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administración <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{path("queryUsuario")}}">Gestión Usuarios</a></li>
        <li><a href="{{path("queryBaseDatos")}}">Bases de Datos</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{path("lanzaSyncro")}}">Sincronización</a></li>
    </ul>
</div>
