{% extends "layout.html.twig" %} 
{% block titulo %} PUNTOS ASISTENCIALES **EQUIVALENCIAS**
    <a href="{{ path("queryPa") }}" class="btn btn-success">
        <span class="glyphicon glyphicon-th-list"></span> Volver</a>
{% endblock %}

{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}