<script>

    $(document).ready(function () {
        $("#appbundle_uf_oficial").change(function () {
            let valor;
            let recurso;
            $("#procesando").show();
            valor = $("#appbundle_uf_oficial").val();
            recurso = Routing.generate("ajaxCalculaCodigoUf", {"codigo": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function pp(data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#appbundle_uf_uf").val(data.codigo);
                    $("#appbundle_uf_edificio").val(data.edificio_id);
                },
                error: function err(xhr) {
                    bootbox.alert(xhr);
                }
            });
        });
    });
</script>

<div class="container">
    {{ form_start (form,{'action':'','method':'POST'}) }}
    {{ form_end (form) }}
</div>
<div class="clearfix"></div>
