{% extends "layout.html.twig" %} 
{% block titulo %} PROCESO TERMINADO 
    <a href="{{path("queryCateg")}}" class="btn btn-success"> 
        <span class="glyphicon glyphicon-th-list"></span>  Volver</a>

{% endblock %}

{% block contenido %}
    <div class="container">
        {% for linea in salida %}
            {{linea}} <br/>
        {% endfor %}
        <hr/>

    </div>
{% endblock %}