{% extends "layout.html.twig" %} 
{% block titulo %} ASIGNAR CECO A PLAZA: {{plaza}} {% endblock %}
{% block contenido %}
    <script>
    </script>
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>

    <div class="clearfix"> </div>
{% endblock %}