{% block titulo %}
    {% include 'includes.html.twig' %}

    <script>
        function cerrarConsulta() {
            $("#consultaAltas").hide();
            window.history.go(-1);
        }
    </script>
{% endblock %}

{% block contenido %}
    {% include 'procesando.html.twig' %}

    <div id="consultaAltas" class="container-fluid">
            <div class="modal-content container-fluid">
                <div class="modal-body" text-align="center">
                   <h3><span> CONSULTA ALTAS CIAS: {{plaza.cias }}</span></h3>
                    {{ sg_datatables_render(datatable) }}
                    <button type="button"
                            class="btn btn-default btn-warning"
                            onclick="cerrarConsulta()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Cerrar Consulta Plaza">Cerrar
                    </button>
                </div>
            </div>
        </div>
{% endblock %}