{% extends "layout.html.twig" %} 
{% block titulo %} CENTROS DE COSTE **{{accion}}**
    <a href="{{path("queryCeco")}}" class="btn btn-success">Volver</a>
{% endblock %}

{% block contenido %}
    {% include 'costes/ceco/form.html.twig' %}
{% endblock %}