{% extends "layout.html.twig" %} 
{% block titulo %} CATEGORÍAS GENERALES **{{accion}}**
    <a href="{{path("queryCatGen")}}" class="btn btn-success"> 
                <span class="glyphicon glyphicon-th-list"></span>  Volver</a>

{% endblock %}
{% block contenido %}
    {% include 'maestros/catgen/form.html.twig' %}
{% endblock %} 