{% extends "layout.html.twig" %} 
{% block titulo %} PROCESO TERMINADO 
    {% if (error == 0) %}
        CORRECTAMENTE
    {% else %}
        EN ERROR 
    {% endif%}
    <br/>
{% endblock %}

{% block contenido %}
    <div class="container">
        {% for linea in salida %}
            {{linea}} <br/>
        {% endfor %}
        <hr/>
        <a href="{{path("queryPa")}}" class="btn btn-success">Volver</a>
    </div>
{% endblock %}