{% extends "layout.html.twig" %} 
{% block titulo %}** CONSULTA DE PUNTOS ASISTENCIALES ** 
    <a href="{{path("addPa")}}" 
       target="_blank"
       class="btn btn-success">
        <span class="glyphicon glyphicon-new-window"></span> Nuevo Punto Asistencial</a>
    <hr/>

{% endblock %}
{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
                <hr/>
            </div>
        {% endfor %}
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}