{% extends "layout.html.twig" %} 
{% block titulo %} FORMAS DE OCUPACION (FCO) **CONSULTA** 
    <hr/>
{% endblock %} 

{% block contenido %}
    <div class="container">
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}